* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.pad {
  width: 70px;
  height: 70px;
  background-color: #505050;
  color: white;
  font-weight: 500;
  font-size: 30px;
  border-radius: 9999px;
  margin-bottom: 7px;
  border: none;
}

.pad:focus {
  outline: none;
}

.pad:active {
  transform: scale(0.95);
}

.pad:hover {
  opacity: 0.85;
}

.spesh {
  background-color: gray;
}

.spesh:hover {
  opacity: 0.85;
}

.operator {
  background-color: #FF9500;
}

.operator:hover {
  opacity: 0.85;
}

.entire {
  border-radius: 2em;
  background-color: #1C1C1C;
  width: 420px;
  border: solid;
  padding: 5px;
}

.disp {
  height: 50px;
  width: 100%;
  text-align: right;
  font-size: 40px;
  color: white;
}

.slash {
  margin-right: -100px;
}

.decimal {
  margin-left: 13px;
  
}

.equals {
  margin-right: -1px;
}

.wide-boi {
  width: 160px;
}

hr {
  background-color: white;
}